.navbar {
  display: flex;
  align-items: center;
  background: #2d2c2c;
  border-bottom: 2px solid #6f74e5;
  font-size: 14px;
  min-width: 785px;
  padding: 6px 6px 6px 70px;
  position: relative;
  z-index: 100;

  button,
  a {
    background: #383736;
    border-color: transparent;
    border-radius: 3px;
    color: #aaa;
    font-size: 1em;
    margin-left: 8px;
    margin-right: 8px;
    padding: 4px 10px;
    text-decoration: none !important;
  }

  button.selected,
  a.selected {
    color: black;
    background: #aeaeae;
  }

  .historyControls {
    padding-left: 6px;
    height: 26px;
    display: inline-block;

    button {
      background: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjE0cHgiIGhlaWdodD0iMTRweCI+PGRlZnM+PHN0eWxlIHR5cGU9InRleHQvY3NzIj48IVtDREFUQVsuLWFjdGl2ZSA+IHBhdGggeyBmaWxsOiAjZGRkOyB9CnBhdGggeyBzdHJva2U6ICM5Nzk3OTc7IH0KXV0+PC9zdHlsZT48L2RlZnM+PGcgc3Ryb2tlLXdpZHRoPSIyIiBmaWxsPSJub25lIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjxwYXRoIGQ9Ik0xLjUgN2gxMU03IDEzTDEgN2w2LTYiLz48L2c+PC9zdmc+")
        no-repeat center;
      border-radius: 5px;
      cursor: pointer;
      display: inline-block;
      height: 100%;
      margin: 0;
      opacity: 0.4;
      text-decoration: none !important;
      width: 28px;
    }

    .next {
      transform: rotate(180deg);
    }
  }

  .mainMenu {
  }

  .apptitle {
    -webkit-app-region: drag;
    -webkit-app-region: drag;
    color: #ccc;
    flex: 1;
    font-size: 20px;
    letter-spacing: 1px;
    position: relative;
    text-align: center;
  }

  .searchbar input {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    border: 0 none;
    box-shadow: inset 0 0 0px 1px rgba(0, 0, 0, 0.1);
    color: #ccc;
    font-size: 120%;
    padding: 4px 8px;
    width: 180px;
  }

  .profileMenu {
  }
}
